* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #009cde;
    --secondary-color: #242932;
}

/* INICIO CSS*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 7rem; 
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header ul li {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

.header ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    
}

.header ul li:hover {
    color: var(--primary-color); 
}

/*Hero css*/

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('/multi/Colapinto\ hero.webp') no-repeat center center/cover;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background: var(--primary-color);
}

/*Novedades seccion*/

.novedades {
    background-color: white;
    color: var(--secondary-color);
    padding: 60px 20px;
    text-align: center;
}

.novedades h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.novedades p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.novedades .btn {
    background: var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

.novedades .btn:hover {
    background: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

/* RELOJ */

.title-countdown {
    text-align: center;
    margin-bottom: 2rem;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey; 
    padding: 20px;
    border-radius: 8px;
    width: fit-content; 
    margin: 0 auto; 
}

.countdown-container {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo {
    width: 80px;
}

#reloj {
    background-color: var(--primary-color); 
    padding: 10px 20px;
    border-radius: 8px;
}

/*BENEFICIOS CSS*/

.beneficios-envios {
    background-color: white;
    color: var(--secondary-color);
    padding: 60px 20px;
    text-align: center;
}

.beneficios h2 {
    font-size: 3rem;
    margin-bottom: 60px;
    font-weight: bold;
}

.beneficios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.beneficio {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.beneficio:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.beneficio h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.beneficio p {
    font-size: 1.1rem;
    margin-bottom: 0;
}


.logos-pago {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.logos-pago .logo {
    max-width: 120px; 
    height: auto;
}


/* Footer CSS*/

.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section a {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}

/* CATALOGO CSS*/

/* Contenedor Principal */
.bigbox {
    display: flex; 
    gap: 20px; 
    padding: 20px;
    max-width: 1700px; 
    margin: 0 auto; 
}


.category-list {
    flex: 1; 
    max-width: 25%; 
    background-color: #f8f9fa; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-list ul {
    list-style: none; 
    padding: 0;
}

.category-list li {
    margin: 10px 0;
    font-size: 1.1em;
    color: #333;
    cursor: pointer;
}

.category-list li:hover {
    color: var(--primary-color); 
}

.product-grid {
    flex: 3; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}


.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(25% - 20px); 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9em;
    color: #555;
}

.product-price {
    font-size: 1.1em;
    color: #333;
    font-weight: bold;
}

.product-stock {
    font-size: 0.9em;
    color: #777;
}

.add-to-cart {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: var(--primary-color);
} 

/* css carrito*/

/* Estilos para el Carrito */
.cart-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

/* Clase para Ocultar el Carrito */
.cart-container.hidden {
    transform: translateX(120%); /* Mueve el carrito fuera de la pantalla */
}

/* Estilos para los Ítems del Carrito */
.btn-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1.5rem;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
}

.btn-cart:hover {
    background-color: var(--secondary-color);
}

/* ABOUT US CSS*/

/* Contenedor Principal */
.container__about {
    display: flex;
    gap: 20px; 
    padding: 20px;
    justify-content: center; 
    margin-top: 3rem;
}

.about__content {
    flex: 1; 
    max-width: 50%; 
    padding: 20px; 
    background-color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(92, 91, 91, 0.1);
}